#hero-image, .img-room, .img-activities {
    height: 400px;
    width: 600px;
}

.price-before {
    text-decoration: line-through;
}

.price {
    font-weight: bold;
}

.hidden {
    display: none;
}

label {
    display: block;
}

#breakfast-label {
    display: inline;
}
